@media screen and ( max-width: 1270px )
    html
        font-size: 14px
    .nav
        &__item
            margin-right: 1rem
    .section
        font-weight: normal
@media screen and ( max-width: 1090px )
    .nav
       display: none
    .contacts
        &__phone
            margin-right: 2.5rem
            color: $primary
            text-decoration: none
    .card
        &__title
            font-size: 15px
            min-height: 36px
        &__pricetag
            font-size: 1rem
            max-width: 228px
            max-height: 54px
            padding: 1rem 2.7rem
@media screen and ( max-width: 992px )
    .nav
       display: none
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem

@media screen and ( max-width: 840px )
    .card
        &__pricetag
            font-size: 1rem
            max-width: 228px
            max-height: 54px
            padding: 1rem 2.7rem

@media screen and ( max-width: 760px )
    .row
        flex-direction: column
        align-items: center
    .types
        &__card
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
    .design
        background-color: $dark
        &__section-title
            color: $light
            margin-bottom: 2.78rem
        &__card
            margin-bottom: 5.7rem
@media screen and ( max-width: 570px )
    .section
        &-title
            &__description
                max-width: 21.86rem
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
@media screen and ( max-width: 520px )
    .hero
        &__scroll-down
            display: none
@media screen and ( max-width: 375px )
    .hero 
        &__button
            min-width: 23rem
    .section
        &-title
            &__heading
                font-weight: normal
            &__description
                font-size: 1rem
                font-weight: normal
    .card
        &__title
            font-weight: normal
        &__pricetag
            min-width: 13.6rem
            min-height: 2.85rem

@media screen and ( max-width: 320px )
    .hero 
        
        &__button
            min-width: 19rem
    .section
        font-weight: normal
        &-title
            &__description
                font-size: 1rem
                
    .card
        &__title
            font-weight: normal
        &__pricetag
            min-width: 13.6rem
            min-height: 2.85rem
            

    