@media screen and ( max-width: 1440px )
    html
        font-size: 14px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 1090px )
    .nav
       display: none
    .contacts
        &__phone
            margin-right: 2.5rem
            color: $primary
            text-decoration: none
    .card
        &__title
            font-size: 15px
        &__pricetag
            font-size: 1rem
            max-width: 228px
            max-height: 54px
            padding: 1rem 2.7rem
    .swiper
        &-slide
            margin-bottom: 36px
    .footer
        &__map
            max-width: 50.07rem
            height: 25.21rem
@media screen and ( max-width: 992px )
    .row
        flex-direction: column
        align-items: center
    .nav
       display: none
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            max-width: 22.86rem
            margin-bottom: 1.85rem
        &::after
            display: none
    .section
        padding: 40px 0
        &-title
            flex-direction: column
            display: flex
            font-weight: normal
        &__text
            display: block
            max-width: 27.57rem
            text-align: center
            font-size: 1rem
            margin-left: auto
            margin-right: auto
        &__heading
            display: flex
            flex-direction: column
            align-items: center
            font-size: 1.57rem
            letter-spacing: -0.01rem            
        &__description
            font-size: 1rem
            font-weight: normal
        &__word
            &::after
                display: none
    .mobile-order-top
        order: 0
    .types
        &__card
            margin-bottom: 5rem
@media screen and ( max-width: 910px )
    .footer
        &__wrap
            max-width: 53.07rem   

    .profile
        &__logo
            transform: translate(0, -50%)
@media screen and ( max-width: 870px )
    .container
        width: 100%
        max-width: 100%
        padding-left: 17px
        padding-right: 17px
    .section
        padding: 30px 0
        &-title
            &__description
                max-width: 100%
        &.projects
            padding-bottom: 25rem
        &.control
            padding-bottom: 0
    .control
        &__form
            max-width: 50rem
        &__text
            font-size: 1rem
    .video
        &__play
            max-width: 63px
    .footer
        &__map
            max-width: 50.07rem
            height: 25.21rem
@media screen and ( max-width: 840px )
    .card
        &__pricetag
            font-size: 1rem
            max-width: 13rem
            max-height: 2.8rem
            padding: 0.8rem 1.9rem
    .mobile-order-top
        order: 0
@media screen and ( max-width: 760px )
    .card
        &__text
            margin-left: 0
    .design
        background-color: $dark
        &__section-title
            color: $light
            margin-bottom: 2.78rem
        &__card
            margin-bottom: 5.7rem
                
    .swiper
         &-slide
            &r
                &-image
                    margin-top: 0
    .mobile-order-top
        order: -1
    .col
        &-50
            width: 100%
            max-width: 100%
        &-30
            &:last-of-type
                .design__card
                    margin-bottom: 17px
                .types__card
                    margin-bottom: 4rem
                .profile
                    margin-bottom: 0
    .control
        background-color: $dark
        color: $light
        padding: 0
        &__section-title
            margin-top: -25.5rem
        &__text
            color: #fff
        &__form
            max-width: 50%
            flex-direction: column
        &__input-group
            margin-bottom: 63px
        &__button
            max-width: 340px
            height: 51px
            transform: translatey(44px)
        &__policy
            max-width: 285.62px
            height: 18px
            transform: translatey(-103px)
            margin-top: 0
            &-label
                justify-content: flex-start
        .input
            &::placeholder
                color: $light
    .label
        color: $secondary
    .footer
        position: relative
        background: none
        background-color: $dark
        &__wrap
            margin-top: 0
            background-color: $dark
            order: 1
            max-width: 43.07rem   
        &__map
            max-width: 45.07rem
            height: 25.21rem
            order: 2
        &__title
            &-text
                margin-top: -1.09rem
                line-height: 138.6%
                font-size: 18px
                order: 3
        &__menu
            display: none
        &__nav
            margin-left: 2rem 
        &__icon
            width: 39px
            height: 39px
        &__policy
            margin-right: 0
    .team
        background-color: $dark
        padding-bottom: 8rem
        &__section
            &-title
                max-width: 100%
                color: $light
        &__story
            display: none
    .profile
        margin-right: -35px
        margin-bottom: 6.5rem
        &__logo
            transform: translate(-50%, -50%)
        &__story
            display: none
@media screen and ( max-width: 680px )
    .footer
        &__wrap
            max-width: 34.07rem
        &__map
            max-width: 35.07rem
            height: 18.21rem
    
@media screen and ( max-width: 570px )
    .section
        &-title
            display: flex
            flex-direction: column
            &__text
                margin-bottom: 2.57rem
                font-size: 1rem
                margin-left: 1.42rem
            &__description
                max-width: 21.86rem
            &__heading
                font-size: 1.57rem
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.64rem
    .hero
        &__scroll-down
            display: none
        &__content
            margin-left: auto
            margin-right: auto
            padding-bottom: 35px
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            max-width: 22.86rem
            margin-bottom: 26px
    .swiper
        &-slide
            margin-bottom: 36px
            &r
                &-image
                    margin-top: 0
            &__value
                margin-bottom: 0
        &-pagination
            left: 50% !important
            transform: translateX(-50%)
            &-bullet
                width: 10px
                height: 10px
                margin: 0 9px
        &-button
            &-prev
                left: calc(50% - 94px) !important
            &-next
                left: auto !important
                right: calc(50% - 94px) !important
    .mobile-order-top
        order: -1
    .col-50
        max-width: 100%
    .control
        &__form
            margin-left: 98px
            margin-right: 154px

@media screen and ( max-width: 520px )
    .hero
        &__scroll-down
            display: none
    .col
        &-50
            max-width: 100%
    .control
        &__form
            max-width: 100%
            margin: auto
            justify-content: center
        &__button
            max-width: 90% 
    .footer
        &__button
            max-width: 100%
        &__input
            border-bottom: 1px solid $secondary
            &-group
                flex-basis: 100%
        &__wrap
            padding: 0
            max-width: 24.07rem
        &__map
            max-width: 24.4rem
            height: 18.21rem
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
            padding-bottom: 4rem
          
@media screen and ( max-width: 487px )
    .footer
        &__title
            &-text
                // max-width: 22.64rem
@media screen and ( max-width: 425px )
    .hero
        &__button
            max-width: 100%
    .control
        &__button
            max-width: 100%
    .types
        margin-bottom: 0
    .section
        padding: 30px 0
        &-title
            &__description
                max-width: 100%
        &.projects
            padding-bottom: 25rem
        &.control
            padding-bottom: 0
    .card
        &__title
            font-weight: normal
        &__pricetag
            min-width: 13.6rem
            min-height: 2.85rem
        &__text
            max-width: 19.38rem
@media screen and ( max-width: 375px )
    .section
        &-title
            &__heading
                font-weight: normal
            &__description
                font-size: 1rem
                font-weight: normal
@media screen and ( max-width: 360px )
    .footer
        &__button
            padding: 1.285rem 7.785rem
        &__map
            max-width: 20.28rem
            height: 18.21rem
        &__wrap
            padding: 0
            max-width: 22.07rem
@media screen and ( max-width: 320px )
    .hero 
        &__button
            max-width: 19rem
    .card
        &__title
            font-weight: normal
        &__pricetag
            min-width: 13.6rem
            min-height: 2.85rem
    .control
        &__form
            max-width: 100% 
